<a href="https://colab.research.google.com/github/GRIN-96/grin/blob/main/%EB%AF%B8%EB%8B%88_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_1_%EC%B5%9C%EB%AF%BC%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [2]:
pip install --upgrade plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.9.0-py2.py3-none-any.whl (15.2 MB)
     |████████████████████████████████| 15.2 MB 70 kB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.9.0

In [ ]:
import plotly.io as pio # Plotly input output
import plotly.express as px # 빠르게 그리는 방법
import plotly.graph_objects as go # 디테일한 설정
import plotly.figure_factory as ff # 템플릿 불러오기
from plotly.subplots import make_subplots # subplot 만들기
from plotly.validators.scatter.marker import SymbolValidator # Symbol 꾸미기에 사용됨
import numpy as np
import pandas as pd
from urllib.request import urlopen
import json

# 소비자 물가지수 기본금리

In [ ]:
df11 = pd.read_excel('/content/품목성질별_소비자물가지수_2020100__20220727184250.xlsx')
df11

In [ ]:
df2 = df11.copy()

In [ ]:
df2.head()

In [ ]:
df2.pop('시도별')

In [ ]:
df2.rename(columns = {'시점' : '연/월'}, inplace = True)

df2.head()

In [ ]:
df2['연/월'] = df2['연/월'].astype(str)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연/월           56 non-null     object
 1   총지수           56 non-null     float64
 2   상품            56 non-null     float64
 3   농축수산물         56 non-null     float64
 4   공업제품          56 non-null     float64
 5   전기 · 가스 · 수도  56 non-null     float64
 6   서비스           56 non-null     float64
 7   집세            56 non-null     float64
 8   공공서비스         56 non-null     float64
 9   개인서비스         56 non-null     float64
dtypes: float64(9), object(1)
memory usage: 4.5+ KB

In [ ]:
df2= df2.replace('2018.1','2018.10').replace('2019.1','2019.10').replace('2020.1','2020.10').replace('2021.1','2021.10')
df2

In [ ]:
df3 = pd.melt(df2, id_vars=['연/월'], var_name='품목성질', value_name = '물가지수')
df3.head()

       연/월 품목성질    물가지수
0  2017.11  총지수  97.347
1  2017.12  총지수  97.698
2  2018.01  총지수  98.106
3  2018.02  총지수  98.855
4  2018.03  총지수  98.751

In [ ]:
df3 = df3[df3.품목성질== '총지수']

In [ ]:
df3 = df3.loc[[0,12,20,23,28,30,45,48,50,53,54]]
df3

        연/월 품목성질     물가지수
0   2017.11  총지수   97.347
12  2018.11  총지수   99.330
20  2019.07  총지수   99.187
23  2019.10  총지수  100.041
28  2020.03  총지수   99.940
30  2020.05  총지수   99.440
45  2021.08  총지수  102.750
48  2021.11  총지수  103.870
50  2022.01  총지수  104.690
53  2022.04  총지수  106.850
54  2022.05  총지수  107.560

#기준 금리

In [ ]:
!pip install beautifulsoup4
import pandas as pd
import requests
import bs4
import plotly.express as px 
# 기준금리 (2017년 11월~ 2022년 5월)
## 크롤링
url = 'https://www.bok.or.kr/portal/singl/baseRate/list.do?dataSeCd=01&menuNo=200643'

response = requests.get(url)

html = response.text

base_rate = bs4.BeautifulSoup(html)

elements = base_rate.find_all('td')


## 데이터 프레임 만들기

list1 = [elements[i].text for i in range(0,len(elements))]

list2 = [' '.join(list1[j:j+3]) for j in range(0,len(list1),3)]

list2 = list2[::-1][39:-1]

date = [a.split(' ')[0] + "-" + a.split(' ')[1] for a in list2]

base_rate = [float(a.split(' ')[3]) for a in list2]


df = pd.DataFrame({'Date' : date, 'BaseRate' : base_rate})

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
df

        Date  BaseRate
0   2017-11월      1.50
1   2018-11월      1.75
2   2019-07월      1.50
3   2019-10월      1.25
4   2020-03월      0.75
5   2020-05월      0.50
6   2021-08월      0.75
7   2021-11월      1.00
8   2022-01월      1.25
9   2022-04월      1.50
10  2022-05월      1.75

In [ ]:
Date_range = {'Date' : {'2017-11월':'2017.11',
                        '2018-11월':'2018.11',
                        '2019-07월':'2019.07',
                        '2019-10월':'2019.10',
                        '2020-03월':'2020.03',
                        '2020-05월':'2020.05',
                        '2021-08월':'2021.08',
                        '2021-11월':'2021.11',
                        '2022-01월':'2022.01',
                        '2022-04월':'2022.04',
                        '2022-05월':'2022.05'}}
df1 = df.replace(Date_range)
df1

       Date  BaseRate
0   2017.11      1.50
1   2018.11      1.75
2   2019.07      1.50
3   2019.10      1.25
4   2020.03      0.75
5   2020.05      0.50
6   2021.08      0.75
7   2021.11      1.00
8   2022.01      1.25
9   2022.04      1.50
10  2022.05      1.75

#시각화

In [ ]:
fig = make_subplots(rows=1, cols=2, 
                    subplot_titles=('<b>소비자 물가지수</b>','<b>기준 금리</b>'))
fig.add_trace(go.Line(x=df3['연/월'],y=df3['물가지수'], 
                     name='물가지수', marker_color='red'), row=1, col=1)
fig.add_trace(go.Bar(x=df1['Date'],y=df1['BaseRate'], 
                     name='기준금리', marker_color='green'), row=1, col=2)
fig.update_layout(title_text='<b>소비자 물가지수와 기준금리 변동추이에 따른 상관관계</b>', title_x=0.5, title_font_size=20  )


fig.show()

/usr/local/lib/python3.7/dist-packages/plotly/graph_objs/_deprecations.py:385: DeprecationWarning:

plotly.graph_objs.Line is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Line
  - plotly.graph_objs.layout.shape.Line
  - etc.